@model Company

<form method="post" asp-action="Edit" asp-controller="Company">
    <input asp-for="Id" hidden />
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />

    <input type="submit" value="Save" class="btn btn-success my-3" />

</form>

