@model Company

<form method="post" asp-action="Edit" asp-controller="Company">
    <label asp-for="Id"></label>
    <input class="form-control" asp-for="Id" readonly="readonly" />
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name"  />
    <label asp-for="Location"></label>
    <input class="form-control" asp-for="Location" />

    <input type="submit" value="Save" class="btn btn-success my-3" />

</form>

