@model List<Company>
@{
}
<table class="table table-warning">
    <thead style="color: saddlebrown; border-radius: 10px 10px 0 0;">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
        <th>Edit</th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td><a asp-action="Edit" asp-controller="Company" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
        </tr>
    }
</table>
<a href="~/Company/Create" class="btn btn-success">Add Company</a>