
@model Drug

<div class="card" style="width: 24rem;">
    <div class="card-body">
        <img src="@Model.ImagePath"/>
        <p class="card-text">Drug ID:@Model.Id </p>
        <p class="card-text">Drug Name:@Model.Name</p>
        <p class="card-text">Drug Company Name:@Model.CompanyName</p>
        <form method="post" action="~/Drug/delete">
            <label><strong>Are you sure you want to DELETE this Drug ?</strong></label>
            @Html.HiddenFor(d => d.Id)
            <br />
            <select name="Choice" class="form-control">
                <option value="y">Delete</option>
                <option value="n">Close</option>
            </select>
            <br/>
            <input type="submit" class="btn btn-danger">
        </form>
        <br/>
        <a href="~/Drug/index" class="btn btn-primary">Back to Drugs List</a>
    </div>
</div>
