@model Drug
<h1>Add New Drug </h1>
<div class="col-8">
    <form action="/Drug/Create" method="post">
        <div class="my-3">
            <label for="name" class="form-label"><strong>Name</strong></label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-6">
            <label asp-for="CompanyId" class="form-label"><strong>Company Name</strong></label>
            <select asp-items="ViewBag.comps" asp-for="CompanyId" class="form-control my-2"></select>
        </div>
        <div class="mb-3">
            <label for="manufactureDate" class="form-label"><strong>Manufacture Date</strong></label>
            <input type="date" class="form-control" id="manufactureDate" name="manufactureDate" required>
        </div>

        <div class="mb-3">
            <label for="expirationDate" class="form-label"><strong>Expiration Date</strong></label>
            <input type="date" class="form-control" id="expirationDate" name="expirationDate" required>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label"><strong>Image Link</strong></label>
            <input type="text" class="form-control" id="image" name="imagePath" required>
        </div>

        <div class="row mb-3">
            <button type="submit" class="btn btn-success col-3 mx-2">Submit</button>
            <br />
            <a href="/Drug" class="btn btn-primary col-3">Back to Drugs List</a>
        </div>
    </form>
</div>